#!/bin/bash

screen -dmS mangosd "{{ wowserver_run_dir }}/bin/mangosd" -c "{{ wowserver_run_dir }}/etc/mangosd.conf"
screen -dmS realmd "{{ wowserver_run_dir }}/bin/realmd" -c "{{ wowserver_run_dir }}/etc/realmd.conf"
